.send-compliment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 24px;
}

.header {
  display: flex;
  width: 144px;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.83px;
  color: #000000;
  font-family: "Work Sans", sans-serif;
}

.cards {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  width: 488px;
  justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .send-compliment {
    width: auto;
    padding-left: 36px;
  }

  .cards {
    width: 324px;
    overflow: scroll;
  }

  .card {
    margin-right: 12px;
  }

  .card-selected {
    margin-right: 12px;
  }
}
