.leave-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.header {
  display: flex;
  width: 144px;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.83px;
  color: #000000;
  font-family: "Work Sans", sans-serif;
}

.text-input {
  font-family: "Work Sans", sans-serif;
  margin-top: 12px;
  width: 443px;
  height: 89px;
  border-radius: 4px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  padding: 11px;
  padding-right: 21px;
  padding-left: 20px;
  font-size: 17px;
  line-height: 1.38;
  letter-spacing: -0.2px;
  resize: none;
  color: gray;
}

.text-input::placeholder {
  color: lightgray;
}

@media only screen and (max-width: 480px) {
  .leave-comment {
    width: auto;
    padding-left: 36px;
    padding-right: 36px;
  }

  .text-input {
    width: auto;
  }
}
